[submodule "desktop/ace-builds"]
	path = desktop/ace-builds
	url = https://github.com/ajaxorg/ace-builds
[submodule "desktop/blockly"]
	path = desktop/blockly
	url = https://github.com/dragondropteam/blockly
