# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
mongoose.exe

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

desktop/app/GoldenLayout/

desktop/app/ace-builds/

desktop/app/arduino_core/

desktop/app/filesystem/

desktop/app/images/

desktop/app/media/

desktop/app/msg/

desktop/app/phaser_core/

desktop/app/project/

desktop/app/project_types/

desktop/app/static/

desktop/app/workspace/

dist/

\.idea/atlassian-ide-plugin\.xml


desktop/app/gulpfile\.js

desktop/app/blockly_uncompressed\.js

desktop/app/main_core\.js

desktop/app/setup_workspace\.js

desktop/app/progress_dialog/

desktop/app/menu\.js

\.idea/inspectionProfiles/profiles_settings\.xml

desktop/app/code\.html

desktop/app/index_dev\.html

desktop/app/index\.html

desktop/app/loading\.html

desktop/app/main_dev\.js

desktop/app/main\.js

desktop/app/progress\.js

desktop/app/projects\.html
desktop/log.txt

\.idea/markdown-navigator\.xml

\.idea/markdown-exported-files\.xml

\.idea/markdown-navigator/

desktop/app/icon_blocks/

desktop/app/package-lock\.json

desktop/app/yarn\.lock

desktop/app/phaser_workspace/

desktop/app/arduino_workspace/

\.idea/jsLibraryMappings\.xml

desktop/app/serial_monitor/

desktop/app/window_manager/

desktop/package-lock\.json

desktop/app/base_project_manager/base_project_manager\.js

venv/

desktop/app/arduino_compressed\.js

desktop/app/blockly_compressed\.js

desktop/app/blocks_compressed\.js

desktop/app/c_compressed\.js

desktop/app/dart_compressed\.js

desktop/app/javascript_compressed\.js

desktop/app/lua_compressed\.js

desktop/app/phaser_compressed\.js

desktop/app/php_compressed\.js

desktop/app/python_compressed\.js

desktop/app/ringo_compressed\.js

desktop/app/wink_compressed\.js

desktop/yarn-error\.log
