/* General page element styling */
html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
h1 {
  text-align: center;
  font-weight: normal;
  font-size: 150%;
}
h2 {
  text-align: center;
  font-weight: normal;
  font-size: 125%;
}



/* Blockly Provided */
#blocklyDiv {
  float: right;
  height: 95%;
  width: 70%;
}
#importExport {
  font-family: monospace;
  width: 29%; 
  max-width: 29%; 
  height: 12em; 
  max-height: 30em;
}



/* Dragon-Drop specific class and ID styling */
#dd-log{
  width: 29%; 
  max-width: 29%; 
  height: 25em; 
  max-height: 70em;
  overflow-y: scroll;
  overflow-x: hidden;  
}
.dd-center {
  text-align: center;
}
.dd-output-log {
  background-color: rgb(250, 250, 252); 
  border-bottom: 1px rgb(210, 210, 220) solid;
  padding: 2px; 
}
.dd-output-err {
  background-color: rgb(255, 200, 200); 
  border-bottom: 1px rgb(210, 210, 220) solid;
  padding: 2px; 
}
.dd-stress-test-button {
  width: 150px;
}
.dd-export-button {
  width: 95px;
}
