<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dragon Drop</title>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="DragonDrop" ng-cloak layout="column" ng-controller="recentFilesController">

  <md-toolbar layout="row" class="md-primary" flex="35">
    <!--<img src="./media/DragonDrop.png"></img>-->
    <h1 layout-padding layout layout-align="start center" flex="80"> Dragon Drop</h1>
    <h4 layout-padding  layout-align="end center"id="version" flex="20">Version Number</h4>
  </md-toolbar>

  <div layout="row" layout-align="center" class="zero" flex="65">
    <div layout="column" layout-align="center center" flex="30">
      <md-button class="md-raised md-primary" onClick="createProject()">Create Project</md-button>
      <md-button class="md-raised md-primary" onClick="loadProjectDialog()">Load Project</md-button>
    </div>
    <md-divider></md-divider>
    <div layout="column" flex="70">
      <md-content flex>
        <md-list>
          <md-subheader>Recent Projects</md-subheader>
          <md-list-item ng-click="loadProject(path.loadPath,path.loadedProject.name)" ng-model="recentPaths" ng-repeat="path in recentPaths">
            {{path.loadedProject.name}} - {{path.loadedProject.type}}
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
  <md-divider></md-divider>
  <div layout="row" layout-align="center end" flex="10">
    <h6 >All Content Copyright DigiPen Institute of Technology 2016</h6>
  </div>

  <!--<img layout-align="end end" src="static/img/ic_settings_black_24px.svg"/>-->

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script>
    const projects = require('project');
    const path = require('path');
    var app = angular.module('DragonDrop', ['ngMaterial']);
    app.controller('recentFilesController', function($scope){
        $scope.recentPaths = projects.getRecentProjects();
        $scope.loadProject = function(loadPath, name){
          ipcRenderer.send('load_project', path.join(loadPath,`${name}.digiblocks`));
        };

        ipcRenderer.on('recent_projects_updated', () =>{
            $scope.recentPaths = projects.getRecentProjects();
            $scope.$apply();
        });
    });

    const {ipcRenderer} = require('electron');
    const npm = require('./package.json');
    var element = document.getElementById("version");
    element.innerHTML = `version: ${npm.version}`;

    function createProject(){
      ipcRenderer.send('create_project');
    }

    function clearProjects(){
      projects.clearRecentProjects();
    }

    function loadProjectDialog(){
      ipcRenderer.send('load_project_dialog');
    }

  </script>

</body>
</html>
